@import "dynamic.less";
@import "fonts/fontawesome-free-5.13.1/less/solid.css";

@font-face {
    font-family: "Noto Serif";
    src: url("fonts/NotoSerif/NotoSerif-Regular.ttf");
}

body
{
    font-family: "Noto Serif";
    background-color: #f4f4f4;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.wrapper
{
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
{
    margin: 0;
    font-family: "Noto Serif";
    word-wrap: break-word;
}

a
{
    color: @orange-color;
    text-decoration: none;
    font-family: "Noto Serif";
}

header {
    &:after {
        .clearAfter;
    }

    background-color: #558f40;
    border-bottom: 1px solid #ffffff;

    background-image: -webkit-linear-gradient(#72ba57 0%, #558f40 98%);
    background-image: -moz-linear-gradient(#72ba57 0%, #558f40 98%);
    background-image: -o-linear-gradient(#72ba57 0%, #558f40 98%);
    background-image: linear-gradient(#72ba57 0%, #558f40 98%);

    h1 {
        float: left;
        color: #fff;
        font-size: 32px;
        text-shadow: 1px 2px 1px rgba(52, 74, 44, 0.75);

        line-height: 34px;
        padding: 26px 0;
    }

    img.logo {
        float: left;
        height: 76px;
        margin: 3px 6px 0 0;
    }

    img.companyLogo {
        float: right;
        height: 32px;

        padding: 27px 20px;
    }
}

#breadcrumb
{
    background-color: #f4f4f4;
    border-top: 1px solid @thin-border-color;
    border-bottom: 1px solid #ffffff;
    height: 30px;

    nav ul
    {
        list-style: none;
        padding: 0;
        font-size: 14px;
        line-height: 30px;
    }

    nav li
    {
        color: #6e6f71 !important;
        float: left;
        margin-right: 5px;
        position: relative;
    }

    nav li a
    {
        color: #6e6f71 !important;
    }

    nav li:after
    {
        content: '>';
        margin-left: 5px;
    }

    nav li:last-child:after
    {
        display: none;
    }
}

footer
{
    font-family: "Noto Serif";
    font-size: 14px;
    clear: both;
    border-top: 1px solid @thin-border-color;
    background-color: #f4f4f4;

    .copyright {
        margin: 22px 0;
    }

    .copyright {
        float: left;
    }
}

#content {
    min-height: 500px;
    margin: 10px;

    p, ul, ol, pre {
        margin-bottom: 15px;
    }

    h3, h4, h5, h6 {
        margin-bottom: 8px;
    }

    h2, h3, h4, h5, h6 {
        color: @green-color;

        a.anchor {
            color: transparent;
            margin-left: 6px;
        }

        &:hover a.anchor {
            color: gray;
        }
    }

    h2 {
        font-size: 32px;
        line-height: 36px;

        span {
            color: black;
            display: block;
            font-size: 18px;
            line-height: 20px;
            padding-bottom: 10px;
        }

        & + p {
            margin-top: 8px;
        }
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
        line-height: 130%;
    }

    dl {
        font-size: 14px;
    }

    ul, ol {
        padding: 5px 0 10px 0;

        background-color: #fff;
        font-size: 14px;
        font-family: "Noto Serif";
        line-height: 2em;
        list-style-position: outside;

        li {
            margin: 0 24px;
        }

        ul, ol {
            margin: 0;
            padding: 0;
        }
    }

    ul {
        list-style-type: square;
        /* http://www.patternify.com/ */
        list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAFklEQVQImWNgIAZETXP9j44HVBIbAADn3jcVxmILQwAAAABJRU5ErkJggg==);
    }

    a[target^="_blank"]:after {
        content: '\f08e';
        font-family: "Font Awesome 5 Free";
        margin-left: 3px;
        font-size: 80%;
        line-height: 80%;
    }

    a[target^="_blank"].img:after {
        content: '';
        font-family: "Font Awesome 5 Free";
        margin-left: 0;
    }

    .setapdf-demo {
        margin-left: 30px;

        .demoTabPanel {
            border-left: 2px solid #DDDDDD;

            background-color: #fff;
            padding: 9px 9px 0 9px;
            margin-bottom: 0 !important;

            & > div.step
            {
                min-height: 220px;
            }

            button.run {
                float: none;
            }

            pre.code {
                border: 0 !important;
                padding-left: 0 !important;
                max-height: 600px;
                margin-bottom: 0;
            }

            iframe {
                border: none;
                margin: 0;
                padding: 0;
                width: 100%;
                min-height: 600px;
            }

            label.inline {
                float: none;
                display: inline;
            }

            .button.disabled {
                background-color: #c4c4c4;
                border-color: #c4c4c4;
                color: #E5E5E5;
                text-shadow: 1px 2px 1px rgba(159, 159, 159, 0.74);

                &:hover {
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    cursor: not-allowed;
                }
            }
        }
    }
}

#content {
    div.run {
        height: 35px;

        // style="width:2.5%;margin-left:.5%;background-color: #c4c4c4;"
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
            width: auto;

            li {
                float: left;
                width: auto;
                height: 35px;
                margin: 0;
            }
        }

        a {
            display: block;
            background-color: #DDDDDD;
            font-family: "Font Awesome 5 Free";
            font-size: 18px;
            line-height: 35px;
            white-space: nowrap;
            padding: 0 8px;

            width: auto;
            height: 35px;

            text-align: center;
            color: #777777;

            span {
                display: inline-block;
                font-family: "Noto Serif";
                font-size: 90%;
                line-height: 100%;
            }
        }

        a.inactive {
            height: 28px;
            margin-top: 7px;
            line-height: 26px;
            background-color: #c4c4c4;
        }

        a.disabled {
            height: 28px;
            margin-top: 7px;
            background-color: #e8e8e8;
            color: #d9d9d9;
            cursor: not-allowed;
            line-height: 26px;

            &:hover {
                color: #d9d9d9;
            }
        }

        a:hover {
            color: @orange-color;
        }
    }

    div.code {
        position: relative;

        & ul.buttons {
            position: absolute;
            right: 26px;
            top: 9px;

            width: auto;
            list-style: none;

            li {
                padding: 0 5px 0 0;
            }

            a {
                visibility: hidden;
                opacity: 0;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                cursor: pointer;
            }

            a.copied:after {
                content: '\f00c';
                font-family: "Font Awesome 5 Free";
                margin-left: 4px;
            }
        }

        &:hover .buttons a
        {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }

    pre.code {
        border-left: 2px solid #DDDDDD;
        font-family: "Courier New";
        padding: 9px;
        font-weight: normal;
        font-size: 0.9em;
        background-color: white;
        margin-top: 0;
        margin-bottom: 1em;
        overflow: auto;
        width: auto;
        white-space: pre;

        span.highlight {
            background-color: yellow;
        }
    }

    .demo pre.code {
        padding-top: 0;
    }
}